<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health AI</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">Health AI</div>
        <div class="chat-messages" id="chatMessages"></div>


        <div class="chat-input">
            <input type="text" id="userInput" placeholder="Type a health question...">
            <br />
     
            <button onclick="sendMessage()">Send</button>
            
            <span class="label">
                Upload File
            </span>

            <input type="file" name="upload" id="upload" class="upload-box" placeholder="Upload File">
            
        
        </div>


    </div>


    <script src="script.js"></script>
</body>
</html>
